/* login/register form sytles */
.form__title {
	margin-bottom: 2rem;
	text-align: center;
}

.form__message {
	text-align: center;
	margin-bottom: 1rem;
}

.form__input-group {
	margin-bottom: 1rem;
}

.form__input {
	display: block;
	width: 100%;
	padding: 0.75rem;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	border: 1px solid #dddddd;
	outline: none;
	background: #eeeeee;
	transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
	border-color: var(--color-primary);
	background: #ffffff;
}

.form__button {
	width: 100%;
	padding: 1rem 2rem;
	font-weight: bold;
	font-size: 1.1rem;
	color: #ffffff;
	border: none;
	border-radius: var(--border-radius);
	outline: none;
	cursor: pointer;
	background: var(--color-primary);
}

.form__button:hover {
	background: var(--color-primary-dark);
}

.form__button:active {
	transform: scale(0.98);
}

.form__text {
	text-align: center;
}

.form__link {
	color: var(--color-secondary);
	text-decoration: none;
	cursor: pointer;
}

.form__link:hover {
	text-decoration: underline;
}
/* register page form highlights */
.form-custom {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-custom label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-custom input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-custom input:focus {
	outline: 0;
	border-color: #777;
}

.form-custom.success input {
	border-color: #2ecc71;
}

.form-custom.error input {
	border-color: #e74c3c;
}

.form-custom small {

	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-custom.error small {
	color: #e74c3c;
	visibility: visible;
}
.form-custom.success small {
	color: #2ecc71;
	visibility: visible;
}

/* bootstrap */
.body {
	font-family: 'Lato', sans-serif;
}

.main-head {
	height: 150px;
	background: #fff;
}

.sidenav {
	height: 100%;
	background-color: #000;
	overflow-x: hidden;
	padding-top: 20px;
}

.main {
	padding: 0px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
}

@media screen and (max-width: 450px) {
	.login-form {
		margin-top: 10%;
	}

	.register-form {
		margin-top: 10%;
	}
}

@media screen and (min-width: 768px) {
	.main {
		margin-left: 40%;
	}

	.sidenav {
		width: 40%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
	}

	.login-form {
		margin-top: 80%;
	}

	.register-form {
		margin-top: 20%;
	}
}

.login-main-text {
	margin-top: 20%;
	padding: 60px;
	color: #fff;
}

.login-main-text h2 {
	font-weight: 300;
}

.btn-black {
	background-color: #000 !important;
	color: #fff;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Thin';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	font-family: 'Roboto-Regular';
	font-weight: normal;
}

.it h2 {
	color: #666;
	font-family: 'Roboto-Light';
	padding-top: 10px;
}
a:hover {
	text-decoration: none;
}

.navbar-brands {
	height: 70px;
	margin: 0 0 30px 0;
	padding: 0;
}

.navbar-fixed-top {
	border: 0;
}
.navbar-inverse {
	background: #fff;
	border: 0;
}
.navbar-inverse ul {
}
.navbar-inverse li {
	list-style: none;
	display: inline;
}

.categories {
	font-family: 'Roboto-Regular';
}
.categories ul {
	margin: 0;
	border-top: 1px solid #eee;
	padding-left: 11px;
	border-bottom: 2px solid #eee;
	padding-top: 15px;
	padding-bottom: 15px;
}
.categories li {
	margin-right: 30px;
}
.categories li a {
	font-size: 1em;
	color: #666;
}
.categories li a:hover {
	color: #cc2b55;
}
.categories button {
	margin-left: 10px;
}
.txtarea {
	border: 1px solid #ccc;
	height: 60px;
	margin-bottom: 10px;
}

.footer {
	border-top: 2px solid #eee;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 15px;
	font-size: 0.9em;
	color: #999;
}
